<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hand Sign Recognition Setup</title>
    <link rel="stylesheet" href="../static/main_menu/main_menu.css">
</head>
<body>
    <div class="container-mainmenu">
    <div class="main-title">
        <h1>SignSense</h1>
    </div>
        <div class="column-one">
            <h2>Configuration & Information</h2>
            <p>Before starting the hand sign recognition, please ensure your camera is properly connected and positioned to capture hand gestures.</p>
        </div>
        <div class="column-two">
        <h2>Instructions</h2>
            <p>1. Make sure your hand is visible and centered in the camera feed.</p>
            <p>2. Use a plain background to improve recognition accuracy.</p>
            <p>3. Adjust the lighting to avoid shadows and enhance visibility.</p>
            <p>4. Click "Initiate Sign Detection" on the next page to begin the prediction.</p>
        </div>
        
        <div class="button-one">
            <form method="POST" action="{{ url_for('main_menu') }}">
                <button type="submit" class="btn">Initiate Sign Detection</button>
            </form>
        </div> 
    </div>
</body>
</html>
